¡Bienvenidos, esto es una prueba!
<h1>{{ pimcore_input("headline") }}</h1>
<h2>{{ pimcore_input("head_nam", {'placeholder':'Nombre'}).render()|raw }}</h2>
<h3>{{ pimcore_input("head_nam1", {'placeholder':'Deporte'}).render()|raw }}</h3>
<h4>{{ pimcore_input("head_nam2", {'placeholder':'Jugador'}).render()|raw }}</h4>
<img src="/bundles/pimcoreadmin/img/cr7.jpg" alt="Logo claim grey" style="width: 400px;" />